<nav class="mx-auto flex items-center justify-between py-4 mb-10">
  <div id="me">
    <a href="https://github.com/davimonteiro7/smart_git" target="blank"></a>
      elxpro-br-gitapp
  </div>

  <div id="menu" class="text-blue-600 hover:text-blue-700" >
    <ul class="flex items-center">
      <li class="ml-6"><a href="/repos">All my repos</a></li>
    </ul>
  </div>
</nav>
